* {
  color: white;
  box-sizing: border-box;
}
 
body {
  background: #34495E;
  margin: 0;
  padding: 0;
  border: 0;
}
 
.bg {
  position: absolute;
  top:650%;
  left:40%;
  transform: translate(-40%,-40%);
  text-shadow: 3px 3px 3px #34495E;
   
}
.bg img{
    width:110px;
    height: 110px;
    border-radius: 50%;
    border:3px solid #FA69EF;
}
.menu {
  position: fixed;
  height: 100%;
  width: 80px;
  background: #202E3B;
  transition:width 1s;
  overflow: hidden;
  font-family: Arial;
  z-index: 99;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
 
.menu:hover {
  width: 220px;
}
 
.menuitem span {
  position: absolute;
  left:80px;
  top:20px;
  transition:color 1s;
  color:rgba(192,192,192,0.3);
}
 
.menu:hover .menuitem  span {
 color:rgba(192,192,192,0.3);
}
 
.menuitem {
  position: relative;
  padding: 20px;
  transition:border .5s, background .2s;  
}
 
.menuitem:hover {
  background: #5C5C5C;
  cursor: pointer;
}
 
 
.text:hover{
  border-left:20px solid #FC60F1;
}