

.layout-positioner {
  width: 100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 42px;
  border: 1px solid #303A4A;
  background: #303A4A;
}

.layout-positioner::after {
  display: table;
  content: "";
  clear: both;
}

.logo {
  float: left;
}

.header ul li {
  display: inline;
  margin: 0 0px 0 0;
  padding: 0px 0px 0px 0px;
  background: red;
}

.header li a {
  color: #CCD5E3;
  text-decoration: none;
  background: #303A4A;
  padding: 16px 10px 8px 10px;
  font-size: 14px;
}

.header li a:hover {
  background: #232A33;
}

.topmenu {
  float: left;
}

form {
  float: left;
  margin: 11px 0 0 10px;
}

input:nth-child(2) {
  color: white;
  background: #707C8C;
  border: 0px;
  padding: 3px 10px 3px 10px;
}

input:nth-child(2):hover {
  color: red;
  background: #8C98A8;
  border: 0px;
  padding: 3px 10px 3px 10px;
}

input:nth-child(3) {
  color: #1C222C;
  background: #FFAF0D;
  border: 0px;
  padding: 3px 10px 3px 10px;
}

input:nth-child(3):hover {
  color: #1C222C;
  background: #FFD432;
  border: 0px;
  padding: 3px 10px 3px 10px;
}



h2 {
  font-size: 20px;
  font-weight: normal;
  padding: 24px 0px 0 10px;
}

.popular {
  float: left;
  font-size: 12px;
}

.movie {
  float: left;
  margin: 18px 0 0 10px;
}

.popular img {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}

.block_fs,
.block_fs2 {
  width: 440px;
  height: 360px;
  float: left;
  background: #4396C3;
  margin: 40px 0 0 20px;
  border-radius: 5px;
  padding: 0px 0px 0 20px;
}

h1 {
  color: #98C9E3;
 
}

.fs_movies {
  float: left;
  font-size:15px;
  text-align: center;
  width: 100px;
  border-radius: 4px;
  color: #5F8CAC;
  background: #FFFFFF;
  padding: 20px 50px 20px 50px;
  margin: 0 20px 0 0;
  border-bottom: 2px solid #2A6E78;
}

.fs_movies .img {}

.number {
  color: #B5C6D2;
  font-size: 11px;
}

.fs_movies2, 
.fs_movies_big, 
.fs_movies_small{
  float: left;
  font-size:15px;
  text-align: center;
  width: 100px;
  border-radius: 4px;
  color: #5F8CAC;
  background: #FFFFFF;
  padding: 20px 22px 20px 10px;
  margin: 20px 12px 0 0;
  border-bottom: 2px solid #2A6E78;
}

.block_fs2 {
  background: #F6F6F6;
}

.block_fs2 h1 {
  color: #9AACB5;
}
.block_fs2 .fs_movies_big {
  border-bottom: 2px solid #CF6176; 
  margin:0 10px 0 0;
  color:#F27E94;
  padding:23px 0px 23px 0;
}
.fs_movies_small {
  border-bottom: 2px solid #1C9C71;
  color:#1C9C71;
  margin:0px 10px 16px 0;
  padding: 13px 0px 12px 0;
}
.content .block_fs2 .green{
  color:#1C9C71;
  border-bottom: 2px solid #1C9C71;
}
.content .block_fs2 .pink{
  color:#F27E94;
  border-bottom: 2px solid #F27E94;
}
.content .block_fs2 .purple{
  color:#AB73B0;
  border-bottom: 2px solid #AB73B0;
}
.content .block_fs2 .blue{
  color:#50A3CC;
  border-bottom: 2px solid #50A3CC;
}
.discuss {
  float:left;

  width:100%;
  margin:0 0 0 0px;
  padding:0 0 0 10px;
}
.review {
  border-right:1px solid #DBE1DA;
  float:left;
  padding:10px;
  width:210px;
  height:300px;
}
.review span{
  margin:0;
 color:#666666;
font-size:10px;
  vertical-align:top;
}
.review .caption{
  margin:0 0 1111px 0;
  color:#0071BC;
  vertical-align:top;
font-size:14px;
  
}
.review p {
  float:left;
}
.review a{
  text-decoration:none;
  float:left;
}
.review img{
  float:left;
  margin:0px 6px 0 0;
}
.review .positive {
  font-size:12px;
  display:block;
  background: #E9FAE7;
}